
.nav-item {
    text-shadow: 0px 0px 10px rgb(255, 255, 255),
                 0px 0px 20px rgb(255, 255, 255),
                 0px 0px 40px rgb(255, 255, 255);
  }
  
.yan_menu{
    width: 18%;
    height: 40vh;
    margin-top: 20px;
    background-color: rgb(53, 53, 53);

}
.yan_menu h5{
    margin-top: 64px;
    color: #ffffff;
}
  .yan_menu li{
    font-size: 17px;
    width: 100%;
    margin-top: 14px;
    list-style: none;
  }
  .yan_menu li:hover{
    background-color:rgb(82, 82, 82);
  }
  .yan_menu li a{
    text-decoration: none;
    color: white;
  }
  